<a href="https://colab.research.google.com/github/domoto86/lcbo-clustering/blob/main/LCBO_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
main_data_df = pd.read_csv('lcbo_wines.csv')

In [3]:
main_data_df.head()

,Name,Regular Price,Sale Price,Rating,Reviews,Size,Description,Category,Alcohol/Vol,Made In,By,Sugar Content,Varietal,Release Date,Lat,Lon
0,Ruffino Prosecco Rose DOC,20.00,18.00,5.0,(2),750 ml bottle,Ruffino has been at the forefront of Italian w...,Rosé & Red Sparkling Wine,11%,"Friuli, Italy",Ruffino Srl Wines,21 g/L,Sparkling,NaN,45.441300,11.596660
1,Josh Cellars Pinot Grigio,19.95,17.95,4.5,(17),750 ml bottle,Josh Cellars is a renowned brand created to ce...,White Wine,12.5%,"California, United States",Josh Cellars,3 g/L,Pinot Grigio,NaN,36.701463,-118.755997
2,Collavini Pinot Grigio,16.55,14.55,4.5,(6),750 ml bottle,"This pinot grigio is a customer favourite, and...",White Wine,12.5%,"Veneto, Italy",Collavini,4 g/L,Pinot Grigio,NaN,45.647666,11.866525
3,19 Crimes Snoop Dogg Cali Red,19.95,17.95,3.7,(63),750 ml bottle,"19 Crimes wines are defiant by nature, bold an...",Red Wine,14.1%,"California, United States",19 Crimes,21 g/L,Red Blend,NaN,36.701463,-118.755997
4,Peller Family Vineyards Pinot Grigio,10.95,9.95,5.0,(3),750 ml bottle,"Easy drinking, refreshing white wine, sourced ...",White Wine,12%,Canada,Peller Family Vineyards,6 g/L,Pinot Grigio,NaN,61.066692,-107.991707

In [4]:
main_data_df.dtypes

Name              object
Regular Price    float64
Sale Price       float64
Rating           float64
Reviews           object
Size              object
Description       object
Category          object
Alcohol/Vol       object
Made In           object
By                object
Sugar Content     object
Varietal          object
Release Date      object
Lat              float64
Lon              float64
dtype: object

In [5]:
main_data_df['Sugar Content (g/L)'] = main_data_df['Sugar Content'].str.replace('g/L', '')
main_data_df['Alcohol/Vol'] = main_data_df['Alcohol/Vol'].str.replace('%', '')
main_data_df = main_data_df.fillna(0)
main_data_df = main_data_df.drop(['Sugar Content'], axis = 1)

In [6]:
main_data_df['Sugar Content (g/L)'] = main_data_df['Sugar Content (g/L)'].astype(float)
main_data_df['Alcohol/Vol'] = main_data_df['Alcohol/Vol'].astype(float)
main_data_df['Regular Price'] = main_data_df['Regular Price'].astype(float)
main_data_df['Sale Price'] = main_data_df['Sale Price'].astype(float)

In [7]:
main_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 167 non-null    object
 1   Regular Price        167 non-null    float64
 2   Sale Price           167 non-null    float64
 3   Rating               167 non-null    float64
 4   Reviews              167 non-null    object
 5   Size                 167 non-null    object
 6   Description          167 non-null    object
 7   Category             167 non-null    object
 8   Alcohol/Vol          167 non-null    float64
 9   Made In              167 non-null    object
 10  By                   167 non-null    object
 11  Varietal             167 non-null    object
 12  Release Date         167 non-null    object
 13  Lat                  167 non-null    float64
 14  Lon                  167 non-null    float64
 15  Sugar Content (g/L)  167 non-null    float64
dtypes: float64(7), object(9)
memory usage: 21.0+ KB

In [8]:
main_data_df.head()

,Name,Regular Price,Sale Price,Rating,Reviews,Size,Description,Category,Alcohol/Vol,Made In,By,Varietal,Release Date,Lat,Lon,Sugar Content (g/L)
0,Ruffino Prosecco Rose DOC,20.00,18.00,5.0,(2),750 ml bottle,Ruffino has been at the forefront of Italian w...,Rosé & Red Sparkling Wine,11.0,"Friuli, Italy",Ruffino Srl Wines,Sparkling,0,45.441300,11.596660,21.0
1,Josh Cellars Pinot Grigio,19.95,17.95,4.5,(17),750 ml bottle,Josh Cellars is a renowned brand created to ce...,White Wine,12.5,"California, United States",Josh Cellars,Pinot Grigio,0,36.701463,-118.755997,3.0
2,Collavini Pinot Grigio,16.55,14.55,4.5,(6),750 ml bottle,"This pinot grigio is a customer favourite, and...",White Wine,12.5,"Veneto, Italy",Collavini,Pinot Grigio,0,45.647666,11.866525,4.0
3,19 Crimes Snoop Dogg Cali Red,19.95,17.95,3.7,(63),750 ml bottle,"19 Crimes wines are defiant by nature, bold an...",Red Wine,14.1,"California, United States",19 Crimes,Red Blend,0,36.701463,-118.755997,21.0
4,Peller Family Vineyards Pinot Grigio,10.95,9.95,5.0,(3),750 ml bottle,"Easy drinking, refreshing white wine, sourced ...",White Wine,12.0,Canada,Peller Family Vineyards,Pinot Grigio,0,61.066692,-107.991707,6.0

In [9]:
main_scaled_df = StandardScaler().fit_transform(main_data_df[['Regular Price', 'Sale Price', 'Alcohol/Vol', 'Sugar Content (g/L)']])

In [10]:
scaled_df = pd.DataFrame(main_scaled_df, columns = ['Regular Price', 'Sale Price', 'Alcohol/Vol', 'Sugar Content (g/L)'])
scaled_df
scaled_df.sample(30)

     Regular Price  Sale Price  Alcohol/Vol  Sugar Content (g/L)
137      -0.985046   -0.920066    -0.299218            -0.504404
2        -0.440060   -0.464053    -0.031171            -0.389092
98        0.792080    0.726647     0.504925            -0.504404
22       -0.623697   -0.660392    -0.299218            -0.504404
116       0.679529    0.732981     0.504925            -0.273780
100       2.930555    2.886375    -0.299218             0.014500
126       0.318180    0.346636     1.041020            -0.389092
8        -0.985046   -1.046736    -0.031171            -0.043156
111       0.673605    0.726647     0.504925            -0.043156
67       -0.925808   -0.856731    -0.031171             0.418092
32       -0.629620   -0.666725    -0.031171            -0.504404
156      -0.985046   -1.046736     0.236877            -0.158468
5        -0.860647   -0.787062    -1.639456            -0.043156
158      -0.392670   -0.413385     0.129658            -0.446748
101       0.081230    0.093296    -0.245609            -0.216124
54       -0.037245   -0.033374     0.772972            -0.389092
139      -0.866571   -0.793396    -0.031171             0.302780
36       -0.979122   -0.913732    -0.031171            -0.273780
28       -0.262348   -0.274048     0.772972            -0.216124
66       -0.511145   -0.540055     0.236877            -0.331436
132       1.384455    1.359998     0.504925            -0.504404
155      -0.268271   -0.407051     0.504925             0.129812
1        -0.037245   -0.033374    -0.031171            -0.446748
141      -0.629620   -0.666725    -0.299218             0.302780
105      -0.274195   -0.160044    -0.299218            -0.446748
27       -0.155720   -0.160044     0.772972            -0.389092
117      -0.392670   -0.413385     0.772972            -0.331436
48       -0.155720   -0.160044     0.772972            -0.389092
154      -0.280119   -0.419718    -0.835313             0.245124
80        0.199705    0.219966     1.041020            -0.446748

In [11]:
model = KMeans(n_clusters = 3)
model.fit(scaled_df)
cluster_sugar = model.predict(scaled_df)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [13]:
cluster_sugar

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 2, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 2, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0], dtype=int32)

In [16]:
wine_type_dummies = pd.get_dummies(main_data_df['Category'])

In [17]:
wine_type_dummies

,Flavoured Wine\t,Port,Red Wine,Rose Wine,Rosé & Red Sparkling Wine,White Champagne,White Sparkling Wine,White Wine
0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
162,0,0,0,0,0,0,0,1
163,0,0,0,0,0,0,0,1
164,0,0,1,0,0,0,0,0
165,0,0,1,0,0,0,0,0
166,0,0,1,0,0,0,0,0